[Desktop Entry]
Comment[en_US]=
Encoding=UTF-8
Exec='/opt/Autodesk/Wacom-Hands/CentOS_Wacom_Orientation.sh'
Icon=/opt/Autodesk/Wacom-Hands/CentOS_Wacom_Orientation.png
MimeType=
Name[en_US]=Wacom Orientation
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
